.header {
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  }
  
  .menu-icon {
    display: none;
  }
  .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 1000;
}

.submenu li {
    padding: 8px 12px;
    cursor: pointer;
}

.submenu li:hover {
    background-color: #f1f1f1;
}
.dropdown select {
  width: 100%; /* Dropdown'ın genişliğini ayarlayın */
  padding: 8px 12px; /* İç boşluk */
  border: 1px solid #ccc; /* Kenarlık */
  border-radius: 4px; /* Kenarlık yuvarlaklığı */
  background-color: #f9f9f9; /* Arka plan rengi */
}

.dropdown select:hover {
  background-color: #f1f1f1; /* Fare ile üzerine gelindiğinde arka plan rengi */
}

.dropdown select:focus {
  border-color: #007bff; /* Odaklandığında kenarlık rengi */
}