.money-transfer-container {
    max-width: 420px;
    width: 100%;
    background: #333;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 100% 100%;
    margin-top: 100px;
    box-sizing: border-box;
}

.money-transfer-container h2 {
    font-size: 36px;
    text-align: center;
}

.money-transfer-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.money-transfer-form label {
    font-size: 18px;
}

.money-transfer-form input {
    width: calc(100% - 40px);
    padding: 10px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-size: 16px;
    color: white;
}

.money-transfer-form input::placeholder {
    color: white;
}

.money-transfer-form button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-top: 20px;
}